#inicial {
    width: min-content;
    display: flex;
    flex-direction: column;
}
    
#inicial #logo {
    height: 33%;
    float: none;
    flex: 1;
    display: flex;
    top: 5vh;
}

#inicial #slogan {
    margin: 0;
    float: none;
    text-align: center;
    flex: 2;
    top: 5vh;
    position: relative;
}

#inicial #slogan span {
    margin: 0;
}

footer {
    width: calc(100% - 14pt);
    padding: 0 7pt;
    justify-content: space-between;
}

footer form input{
    margin: 0;
    min-width: unset;
}

footer form button{
    border: none;
    white-space: nowrap;
    padding: 0;
}

footer div span span:nth-child(3){
    clear: both;
    float: none;
    display: inline-block;
}

/* hamburguer menu */  

    #header #hamburger {
        width: 8vh;
        height: 8vh;
        display: block;
        margin: 0 auto;
        position: relative;
        left: 50%;
        top: 0;
        margin-left: -4vh;
    }


    /* ------------- */
        
    #menu-link {
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
    }
    
    .menu-icon {
        position: absolute;
        width: 20px;
        height: 14px;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 1px;
    }
    
    /* ------------- */
    .menu-line {
        background-color: #339999;
        height: 2px;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        left: 0;
        transition: all 0.25s ease-in-out;
    }
    
    .menu-line-2 {
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    .menu-line-3 {
        bottom: 0;
    }
    
    #hamburger.open .menu-line-1 {
        transform: translateY(7px) translateY(-50%) rotate(-45deg);
    }
    
    #hamburger.open .menu-line-2 {
        opacity: 0;
    }
    
    #hamburger.open .menu-line-3 {
        transform: translateY(-7px) translateY(50%) rotate(45deg);
    }
    
    /* ------------- */
    
    .menu-circle {
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        transition: transform 0.3s ease-in-out;
        background-color: #fff;
    }

    #hamburger.open .menu-circle {
        transform: scale(10);
    }
    
    /* ------------- */
    
    #header #menu {
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
        
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        
        background-color: #fff;
        color: #000;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        position: absolute;
    }
    
    #header #menu.open {
        opacity: 1;
        visibility: visible;
    }