html, body{
    margin: 0;
    padding: 0;
}

h2, h3, h4{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5pt;
}

h3, h4{
    font-size: 1.17em;
}

h4{
    margin:0;
}

.medium-sans-serif{
    font-family: medium-content-sans-serif-font;
    font-size: 8pt;
}

.em-breve:after {
    font-family: Playlist;
}


.slogan{
    display: inline-block;
    padding: 5pt;
    background: #fff;
    color: #000;
    margin: 0 0 5pt 15pt;
    font-family: 'Staatliches', cursive;
    position: relative;
    font-size: 18pt
}

.pink { color: #d4145a; }
.green { color: #339999; }

.content-titulo span i{
    letter-spacing: 0;
}

.content-texto{
    width: 100%;
    height: calc(100% - 25pt - 20pt - 5pt - 1em);
    overflow-y: auto;
    margin: 0.5em 0 0 0;
    text-indent: 10pt;
}

.content-texto p{
    margin-bottom:0;

    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font, serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.84);
    
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
}
