/* logo */
#header #logo #logo-out,
#inicial #logo #logo-out{
    animation: rotacao-logo 20s infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotacao-logo {
    from {transform: rotate(0deg)}
    to   {transform: rotate(360deg)}
}
  
@keyframes rotacao-logo {
    from {transform: rotate(0deg)}
    to   {transform: rotate(360deg)}
}

/* seções do menu */
#inicial{
    opacity: 1;
    transition: opacity 1s;
}

#content > div{
    background: #fff;s
}

#header #menu li{
    z-index: 2;
}

#header #menu li span {
    transition: padding .5s;
    z-index: 2;
}

#header #menu li:hover span{
    padding: 0 5px;
}

#header #menu .menu-animation{
    content: "oi";
    color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 100%;
    z-index: 1;
}

#header #menu .menu-animation.open{
    transform: scale(60);
}

#content {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1001;
}

#content.open {
    opacity: 1;
    visibility: visible;
}