html, body, .wrap, .crop {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.container {
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    overflow: hidden;
    position: absolute;
}
  
.wrap {
    width: 830.663646335868px;
    position: absolute;
    overflow: hidden;
    transform: rotate(-34.66814142881749deg);
    opacity: 0.7
}

.wrap:nth-child(odd){
    transform-origin: top right;
    bottom: 389px;
    right: 268px;
    bottom: 487px;
    right: -14px;
 }
    
.wrap:nth-child(even){
    transform-origin: bottom left;
    top: 389px;
    left: 268px;
    top: 487px;
    left: -14px;
}

.crop {
    position: relative;
}

.wrap .crop img {
    width: 200px;
    position: absolute;
    transition: all .7s;
}
