@media (max-width:800px){
    header #logo{
        width: 12%;
        max-width: unset;
    }
}
@media (max-width: 500px){
    header #logo{
        width: 20%;
        max-width: unset;
    }

    #titulo-esquerda,
    #titulo-direita{
        font-size: 14pt;
    }

    #localizacao, #sobre{
        width: 100%;
        float:none;
    }

    #sobre {
        padding: 0;
        margin-bottom: 1em;
    }
}