@media (max-width: 800px){
    header #logo{
        width: 8%;
        max-width: unset;
    }
}

@media (max-width: 600px){
    header #logo{
        width: 20%;
        max-width: unset;
    }
}

@media (max-width: 400px){

    #titulo-esquerda,
    #titulo-direita{
        font-size: 14pt;
    }

    #titulo-esquerda{
        padding-right: 20pt;
    }
}