.wrap:nth-child(odd) .crop img {
    transform: rotate(34.6deg);
    transform-origin: top right;
    top: 72%;
    top: 68%;
    left: 48%;
}

.wrap:nth-child(odd).hide .crop img{
    top: 130%;
    left: 37%;
}

.wrap:nth-child(even).hide .crop img{
    top: -40%;
}

.wrap:nth-child(even) .crop img {
    transform: rotate(31deg);
    transform-origin: top right;
    border-radius: 100%;
    top: -5%;
    left: 40%;
    left: 45.3%;
}