@import url('https://fonts.googleapis.com/css?family=Staatliches');

html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

h2, h3{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5pt;
}

header{
    width: 100%;
    height: 40pt;
    background: #fff;
    text-align: center;
    transition: height .5s;
}

header #logo{
    max-width: 8%;
    margin: 3pt auto;
    display: inline-block;
    position: relative;
    z-index: 3;
    transition: all .5s;
}

main{
    width: 100%;
    height: 100%;
}

#menu{
    width: 100%;
    overflow: hidden;
    position: relative;
}

#secao-esquerda, #secao-direita{
    width: 0;
    height: 0;
    border-style: solid;

    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

#secao-esquerda{
    border-top-color: #000;
    border-right-color: #fff;
    position: relative;
    top: -5pt;
}

#secao-direita{
    bottom: 0;
    border-bottom-color: #000;
    border-left-color: transparent;
    position: absolute;
}

#secao-esquerda div,
#secao-direita div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

#titulo-esquerda, #titulo-direita{
    padding: 5pt;
    background: #fff;
    display: inline-block;
    white-space: nowrap;
    
    top: 0;
    left: 50%;

    transition: opacity .2s;
}

#titulo-esquerda{
    width: 150pt;
    position: relative;

    text-indent: 10pt;

    margin: 0;
    padding-right: 45pt;

    text-align: right;
}

#titulo-direita{
    width: 150pt;
    position: relative;
    z-index:2;

    margin: 0;
    padding-left: 0;
}

#secao-direita #complemento{
    color: transparent;
    content: "oi";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    
    border-style: solid;
    
    top: 0;
    left: 0;
    
    border-top-color: transparent;
    border-bottom-color: #fff;
    border-left-color: transparent;

    border-top-width: 0;
    border-right-width: 0;

    z-index: 1;
}

#titulo-centro{
    width: 100%;
    padding: 0;
    bottom: 0;
    position: absolute;
    background: transparent;
    color: #000;
    text-align: center;
}

#titulo-centro h2{
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 5px 20px;
    background: #fff;
    box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.2);
}

#titulo-centro h2 i{
    position: relative;
    width: 9pt;
}

#content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px 20px 20px 20px;
}

#content > div{
    position: absolute;
    width: 100%;
    height: 100%;
    display:none;
}