html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 50pt;
    background: #c1c1c1;
}

header #logo{
    width: 10%;
    margin: 0 auto;
    margin-top: 25%;
}

main{
    width: 100%;
    height: 100%;
}

#menu{
    width: 100%;
    overflow: hidden;
    position: relative;
}

#inscricao, #o-evento{
    width: 0;
    height: 0;
    border-style: solid;


    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;

}

#titulo-inscricao, #titulo-o-evento{
    height: 20pt;
    padding: 5pt;
    background: #fff;
    display: inline-block;
    white-space: nowrap;
    
    top: 0;
    left: 50%;
}

#inscricao{
    border-top-color: #000;
    border-right-color: #fff;
    position: relative;
}

#titulo-inscricao{
    width: 120pt;
    text-indent: 10pt;
    padding-right: 40pt;

    position: absolute;
}

#o-evento{
    top: 10pt;
    left: -9pt;
    
    border-bottom-color: #000;
    border-left-color: transparent;
    position: absolute;
}

#titulo-o-evento{
    width: 110pt;
    position: relative;
    background: #fff;
    z-index:2;
}

#titulo-o-evento #complemento-titulo-o-evento{
    color: transparent;
    content: "oi";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    
    border-style: solid;
    border-color: #fff;
    
    top: calc(-7pt - 100%);
    left: 0;
    
    border-top-color: transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: transparent;

    border-right-width: 0;
    border-bottom-width: 39.5px;
    border-left-width: 60px;

    z-index: 1;
}

#programacao{
    width: 100%;
    padding: 10px;
    bottom: 0;
    position: absolute;
    background: #fff;
    color: #000;
    text-align: center;
}

#programacao h2{
    margin: 0;
    padding: 0;
}